@css {

@font-face {
	font-family: 'iskracyr-light';
	src: url('../fonts/iskra/iskracyr-light-webfont.eot');
	src: url('../fonts/iskra/iskracyr-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/iskra/iskracyr-light-webfont.woff2') format('woff2'),
		 url('../fonts/iskra/iskracyr-light-webfont.woff') format('woff'),
		 url('../fonts/iskra/iskracyr-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'iskracyr-regular';
	src: url('../fonts/iskra/iskracyr-regular-webfont.eot');
	src: url('../fonts/iskra/iskracyr-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/iskra/iskracyr-regular-webfont.woff2') format('woff2'),
		 url('../fonts/iskra/iskracyr-regular-webfont.woff') format('woff'),
		 url('../fonts/iskra/iskracyr-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'helveticaneuecyrlight';
	src: url('../fonts/helvetica_neue/helveticaneuecyr-light-webfont.eot');
	src: url('../fonts/helvetica_neue/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica_neue/helveticaneuecyr-light-webfont.woff2') format('woff2'),
		 url('../fonts/helvetica_neue/helveticaneuecyr-light-webfont.woff') format('woff'),
		 url('../fonts/helvetica_neue/helveticaneuecyr-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'magistralcregular';
	src: url('../fonts/magistral/magistralc-webfont.eot');
	src: url('../fonts/magistral/magistralc-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/magistral/magistralc-webfont.woff2') format('woff2'),
		 url('../fonts/magistral/magistralc-webfont.woff') format('woff'),
		 url('../fonts/magistral/magistralc-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gost_type_astandard';
	src: url('../fonts/gost/gost_type_a-webfont.eot');
	src: url('../fonts/gost/gost_type_a-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gost/gost_type_a-webfont.woff2') format('woff2'),
		 url('../fonts/gost/gost_type_a-webfont.woff') format('woff'),
		 url('../fonts/gost/gost_type_a-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'AmericanTypewriter-Light';
	src: url('../fonts/american_typewriter/AmericanTypewriter-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/american_typewriter/AmericanTypewriter-Light.woff') format('woff'),
		 url('../fonts/american_typewriter/AmericanTypewriter-Light.ttf')  format('truetype'),
		 url('../fonts/american_typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmericanTypewriter';
	src: url('../fonts/american_typewriter/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/american_typewriter/AmericanTypewriter.woff') format('woff'),
		 url('../fonts/american_typewriter/AmericanTypewriter.ttf')  format('truetype'),
		 url('../fonts/american_typewriter/AmericanTypewriter.svg#AmericanTypewriter') format('svg');
	font-weight: normal;
	font-style: normal;
}

}
