mixin breadcrumbs()
	+b.breadcrumbs
		+e.in
			+e('ul').list(vocab='http://schema.org/', typeof='BreadcrumbList')
				+e('li').item(property='itemListElement', typeof='ListItem')
					+e('a').link(property='item', typeof='WebPage', href='https://example.com/Главная')
						span(property='name') Главная
					meta(property='position', content='1')
				| /
				+e('li').item(property='itemListElement', typeof='ListItem')
					+e('a').link(property='item', typeof='WebPage', href='https://example.com/Главная/Мясо')
						span(property='name') Мясо
					meta(property='position', content='2')
				| /
				+e('li').item(property='itemListElement', typeof='ListItem')
					+e('a').link(property='item', typeof='WebPage', href='https://example.com/arts/books/poetry')
						span(property='name')  Говядина
					meta(property='position', content='3')
				| /
				+e('li').item(property='itemListElement', typeof='ListItem')
					+e('a').link._active(property='item', typeof='WebPage', href='https://example.com/arts/books/poetry')
						span(property='name') Говяжий край филе (задн. ч.)
					meta(property='position', content='4')
