mixin wysiwyg()
	+b.section._blank
		+e.in
			+b.row._fs0._mb60
				+b.coll
					+e.title Список ненумерованный
					+b('ul').list._unordered
						+e('li') Пункт номер один
						+e('li') Пункт номер два
						+e('li') Пункт номер три
						+e('li') Пункт номер четыре
						+e('li') Пункт номер пять
				+b.coll
					+e.title Список нумерованный
					+b('ol').list._ordered
						+e('li') Пункт номер один
						+e('li') Пункт номер два
						+e('li') Пункт номер три
						+e('li') Пункт номер четыре
						+e('li') Пункт номер пять
			+b.row
				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.

			+b.row
				+b.important
					+e.title Пример важной информации
					+e.text Да, наконец, мы можем показать, не стесняясь, результаты наших трудов! Прежде всего - все фотографии сделаны нами, на нашем огороде, наших овощей. Не исключено, что кто-то из вас, уважаемые покупатели, съест именно эту свёклу или именно тот огурец, которые.

			+b.row
				p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.

			+b.row

				blockquote.blockquote
					p «Да, наконец, мы можем показать, не стесняясь, результаты наших трудов! Прежде всего - все фотографии сделаны нами, на нашем огороде, наших овощей. Не исключено, что кто-то из вас, уважаемые покупатели»

			+b.row._mb60
				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.

				+b.img._left
					+e('img')(src='assets/images/product/product_img_1.jpg' alt='image')

				p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.
				p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный
			+b.row
				+b.cart-table
					+e.header
						+e.cell._title Наименование товара
						+e.cell._id Артикул
						+e.cell._quant Кол-во
						+e.cell._price Цена
						+e.cell._amount Сумма
						+e.cell._delete Уд.
					+e.body
						+e.row
							+e.cell._title
								+e('a')(href='#') Говяжий край филе (задн. ч.)
							+e.cell._id 404
							+e.cell._quant
								+b('div').quant._cart
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
							+e.cell._price 780 руб.
							+e.cell._amount 780 руб.
							+e.cell._delete
								+b('a').button._delete(href='#') Удалить
						+e.row
							+e.cell._title
								+e('a')(href='#') Говяжий край филе (задн. ч.)
							+e.cell._id 404
							+e.cell._quant
								+b('div').quant._cart
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
							+e.cell._price 780 руб.
							+e.cell._amount 780 руб.
							+e.cell._delete
								+b('a').button._delete(href='#') Удалить
						+e.row
							+e.cell._title
								+e('a')(href='#') Говяжий край филе (задн. ч.)
							+e.cell._id 404
							+e.cell._quant
								+b('div').quant._cart
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
							+e.cell._price 780 руб.
							+e.cell._amount 780 руб.
							+e.cell._delete
								+b('a').button._delete(href='#') Удалить
						+e.row
							+e.cell._title
								+e('a')(href='#') Говяжий край филе (задн. ч.)
							+e.cell._id 404
							+e.cell._quant
								+b('div').quant._cart
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
							+e.cell._price 780 руб.
							+e.cell._amount 780 руб.
							+e.cell._delete
								+b('a').button._delete(href='#') Удалить
						+e.row
							+e.cell._title
								+e('a')(href='#') Говяжий край филе (задн. ч.)
							+e.cell._id 404
							+e.cell._quant
								+b('div').quant._cart
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
							+e.cell._price 780 руб.
							+e.cell._amount 780 руб.
							+e.cell._delete
								+b('a').button._delete(href='#') Удалить
					+b.summary
						+e.w
							+e.row
								+e.item._title Сумма:
								+e.item._val 3900 руб
							+e.row
								+e.item._title Доставка:
								+e.item._val 300 руб.
							+e.row
								+e.item._title Итого:
								+e.item._val 780 руб.

			+b.row
				+b.cart-item.cart-address._half
					+e.header
						+e('h2').title Адрес
					+e.body
						+e.row
							+e.i._title
								+e('label').label(for='name') <sub>*</sub> Выберите адрес
							+e.i._val
								+e.select
									+e('select')(name='')
										+e('option')(value='') ул. Вагоноремонтная, д. 21, кв. 105
										+e('option')(value='') ул. Вагоноремонтная, д. 21, кв. 105
										+e('option')(value='') ул. Вагоноремонтная, д. 21, кв. 105
									+e.select-icon
										+icon('select_arrows')

						+e.row
							+e.i._title
								+e('label').label(for='surname') <sub>*</sub> Город
							+e.i._val
								+e.input
									+e('input')(id='surname' value='' placeholder='Москва' name='')
						+e.row
							+e.i._title
								+e('label').label(for='phone') <sub>*</sub> Адрес
							+e.i._val
								+e.input
									+e('input')(id='phone' value='' placeholder='ул. Вагоноремонтная, д. 21, кв. 105' name='')

				+b.cart-item.cart-payment._half
					+e.header
						+e('h2').title Способ оплаты

					+e.body
						+e.row._style-2
							+e.radio
								+e('input')(id='payment-1' type='radio' name='payment' value='val-1' checked)
							+e.label
								+e('label')(for='payment-1') Наличными курьеру

						+e.row._style-2
							+e.radio
								+e('input')(id='payment-2' type='radio' name='payment' value='val-2')
							+e.label
								+e('label')(for='payment-2') Наличными на месте

						+e.row._style-2
							+e.radio
								+e('input')(id='payment-3' type='radio' name='payment' value='val-3')
							+e.label
								+e('label')(for='payment-3') Оплата картой

