mixin section-feedback-maket()
	+b('section').section._feedback._style-1
		+e.in
			+b('h2').title._style-2._feedback ЗАГОЛОВОК H2
			+e('ul').list
				+e('li').item._1
					+e.item-title Владимир
					+e.item-text Хочу просто сказать огромное спасибо всей команде ЁгаФуд за прекрасную, вкусную и ЗДОРОВУЮ еду. Я с вами уже год и ни разу не пожалел, что стал вашим постоянным клиентом. <br/>Радует, что...
				+e('li').item._2
					+e.item-title Владимир
					+e.item-text Хочу просто сказать огромное спасибо всей команде ЁгаФуд за прекрасную, вкусную и ЗДОРОВУЮ еду. Я с вами уже год и ни разу не пожалел, что стал вашим постоянным клиентом. <br/>Радует, что...
				+e('li').item._3
					+e.item-title Владимир
					+e.item-text Хочу просто сказать огромное спасибо всей команде ЁгаФуд за прекрасную, вкусную и ЗДОРОВУЮ еду. Я с вами уже год и ни разу не пожалел, что стал вашим постоянным клиентом. <br/>Радует, что...
				+e('li').item._4
					+e.item-title Владимир
					+e.item-text Хочу просто сказать огромное спасибо всей команде ЁгаФуд за прекрасную, вкусную и ЗДОРОВУЮ еду. Я с вами уже год и ни разу не пожалел, что стал вашим постоянным клиентом. <br/>Радует, что...

			+e.feedback-icon-left
			+e.feedback-icon-right
