.section
	&_forum
		padding-top 43px
		padding-bottom 68px
		overflow hidden
		.section__in
			position relative
.section__forum-icon-right
	position absolute
	top 121px
	right -336px
	width 170px
	height 202px
	opacity 0
	+hd()
		opacity 1
		background url('../images/forum_icon.png') 0 0 no-repeat
		background-size contain
		z-index -1
		+retina()
			background url('../images/forum_icon_2x.png') 0 0 no-repeat
			background-size contain
.section__forum-icon-left
	position absolute
	top 121px
	left -336px
	width 170px
	height 202px
	opacity 0
	+hd()
		opacity 1
		background url('../images/forum_icon.png') 0 0 no-repeat
		background-size contain
		z-index -1
		+retina()
			background url('../images/forum_icon_2x.png') 0 0 no-repeat
			background-size contain

