mixin section-forum()
	+b('section').section._forum._style-2
		+e.in
			+b('h2').title._style-1._forum ФОРУМ
			+e.articles._grid
				+b('article').article._third
					+e('h3').title._forum
						+e('a').link(href='#') Как отличить продукты, содержащие растительные жиры, от натуральных
					+e.content._full
						+e.info
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count ответов (23)
						+e.text Натуральное молоко, конечно, можно найти и на сельских рынках, и у частников, но мы сами, понимая, как устроен процесс производства молока, не уверены в его качестве, ведь мы знаем, что в 90% случаев молоко получает патогенное обсеменение (загрязнение) именно во время дойки, хранении и транспортировки, и лишь...

				+b('article').article._third
					+e('h3').title._forum
						+e('a').link(href='#') Как отличить продукты, содержащие растительные жиры, от натуральных
					+e.content._full
						+e.info
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count ответов (23)
						+e.text Натуральное молоко, конечно, можно найти и на сельских рынках, и у частников, но мы сами, понимая, как устроен процесс производства молока, не уверены в его качестве, ведь мы знаем, что в 90% случаев молоко получает патогенное обсеменение (загрязнение) именно во время дойки, хранении и транспортировки, и лишь...

				+b('article').article._third
					+e('h3').title._forum
						+e('a').link(href='#') Как отличить продукты, содержащие растительные жиры, от натуральных
					+e.content._full
						+e.info
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count ответов (23)
						+e.text Натуральное молоко, конечно, можно найти и на сельских рынках, и у частников, но мы сами, понимая, как устроен процесс производства молока, не уверены в его качестве, ведь мы знаем, что в 90% случаев молоко получает патогенное обсеменение (загрязнение) именно во время дойки, хранении и транспортировки, и лишь...
			+e.forum-icon-right
			+e.forum-icon-left
