include ../blocks/header/header

include ../blocks/hero/hero
include ../blocks/section-menu/section-menu
include ../blocks/section-recommend/section-recommend
include ../blocks/section-feedback/section-feedback
include ../blocks/section-news/section-news
include ../blocks/section-articles/section-articles
include ../blocks/section-forum/section-forum


include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Egafood - главная';

block content
	body.page#index
		.layout
			+header()

			+hero()
			+section-menu()
			+section-recommend()
			+section-feedback()
			+section-news()
			+section-articles()
			+section-forum()

			+footer()

		+scripts()
