mixin section-news-maket()
	+b('section').section._news._style-2
		+e.in
			+e.articles._grid
				+b('article').article._half
					+e('h3').title
						+e('a').link(href='#') Встречайте овощи с нашего огорода!
					+e.image._left
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content
						+e.info
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Да, наконец, мы можем показать, не стесняясь, результаты наших трудов! Прежде всего - все фотографии сделаны нами, на нашем огороде, наших овощей. Не исключено, что кто-то из вас, уважаемые покупатели, съест именно эту свёклу или именно тот огурец, которые вы видите на фотографиях. Огород...

				+b('article').article._half
					+e('h3').title
						+e('a').link(href='#') Встречайте овощи с нашего огорода!
					+e.image._left
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content
						+e.info
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Да, наконец, мы можем показать, не стесняясь, результаты наших трудов! Прежде всего - все фотографии сделаны нами, на нашем огороде, наших овощей. Не исключено, что кто-то из вас, уважаемые покупатели, съест именно эту свёклу или именно тот огурец, которые вы видите на фотографиях. Огород...

			+e.news-icon-left
			+e.news-icon-right
