mixin menu()
	+b('nav').menu
		+e('ul').list
			+e('li').item._1
				+e('a').link(href='#' title='#')
					+e.item-w
						+e.icon-w
							+e('span').icon._1
						+e('span').text БАКАЛЕЯ
			+e('li').item._2
				+e('a').link(href='#' title='#')
					+e.item-w
						+e('span').icon._2
						+e('span').text КУЛИНАРИЯ
			+e('li').item._3
				+e('a').link(href='#' title='#')
					+e.item-w
						+e('span').icon._3
						+e('span').text ПТИЦА
			+e('li').item._4
				+e('a').link(href='#' title='#')
					+e.item-w
						+e('span').icon._4
						+e('span').text МОЛОКО
			+e('li').item._5
				+e('a').link(href='#' title='#')
					+e.item-w
						+e('span').icon._5
						+e('span').text МЯСО
			+e('li').item._6
				+e('a').link(href='#' title='#')
					+e.item-w
						+e('span').icon._6
						+e('span').text ОВОЩИ


