//- include ../breadcrumbs-category/breadcrumbs-category

mixin category()
	+b('main').catalog.main
		+e.in
			//- +breadcrumbs-category()

			+b.view
				+e.w
					+e('a').grid._active(href='#') Сетка
					+e('list').list(href='#') Список
			+e.items._category
				+e.item._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 1')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 2')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 3')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 1')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 2')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item._not-available._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 3')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+e.not-available нет в наличие
								+e.not-available._list нет <br/>в наличие

								+b('button').button._buy(disabled)
									+e('span') Купить
				+e.item._not-available._grid
					+e('div').image
						+e('a').link(href='#')
							+e('img')(src='assets/images/category/cat_img_4_2x.jpg' alt='category 3')
					+e('div').info
						+e('div').info-w
							+e('div').info-top
								+e('div').title
									+e('a').link(href='#') Говяжий край филе (задн. ч.)
								+e('div').text
									+e('a').link(href='#') Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+e.not-available нет в наличие
								+e.not-available._list нет <br/>в наличие
								+b('button').button._buy(disabled)
									+e('span') Купить


