//- include ../breadcrumbs-blog/breadcrumbs-blog

mixin section-blog()
	+b('main').main
		+e.in
			//- +breadcrumbs-blog()

			+b('h1').title._blog._style-3 Новости

			+e.content
				+b('article').article._full
					+e('h3').title._blog
						+e('a').link(href='#') В 2016 году в России ожидается дефицит мясной, молочной продукции и сыров
					+e.image._left._blog
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content._blog
						+e.info._blog
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс...
				+b('article').article._full
					+e('h3').title._blog
						+e('a').link(href='#') В 2016 году в России ожидается дефицит мясной, молочной продукции и сыров
					+e.image._left._blog
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content._blog
						+e.info._blog
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс...
				+b('article').article._full
					+e('h3').title._blog
						+e('a').link(href='#') В 2016 году в России ожидается дефицит мясной, молочной продукции и сыров
					+e.image._left._blog
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content._blog
						+e.info._blog
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс...
				+b('article').article._full
					+e('h3').title._blog
						+e('a').link(href='#') В 2016 году в России ожидается дефицит мясной, молочной продукции и сыров
					+e.image._left._blog
						+e('img')(src='assets/images/news/news_img_1.jpg' alt='image')
					+e.content._blog
						+e.info._blog
							+e('time').date(datetime='17.05.2015') 17.05.2015
							+e.comm-count комментарии (36)
						+e.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс...

				+e.button-w
					+b('a').button._default(href='#') Показать ещё

			+b.sidebar
				+b.side-block._latest
					+e.header
						+e('h3').title Последние
					+e.body
						+e('ul').list
							+e('li').item
								+e('a').link(href='#') В 2016 году в России ожидается дефицит мясной, молочной...
							+e('li').item
								+e('a').link(href='#') Полюбуйтесь нашим новым огородом!
							+e('li').item
								+e('a').link(href='#') Новость, идущая под номером три
							+e('li').item
								+e('a').link(href='#') Новость, идущая под номером четыре
							+e('li').item
								+e('a').link(href='#') Новость, идущая под номером пять
							+e('li').item
								+e('a').link(href='#') Новость, идущая под номером шесть
							+e('li').item
								+e('a').link(href='#') Новость, идущая под номером семь

				+b.side-block._tags
					+e.header
						+e('h3').title Теги
					+e.body
						+b('ul').tags
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') молоко
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') сметана
							+e('li').tag(style='font-size: 36px;')
								+e('a').link(href='#') сыр
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') кефир
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') простокваша
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') вырезка
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') окорок
							+e('li').tag(style='font-size: 36px;')
								+e('a').link(href='#') санкции
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') сертификация
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') молоко
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') сметана
							+e('li').tag(style='font-size: 36px;')
								+e('a').link(href='#') сыр
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') кефир
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') простокваша
							+e('li').tag(style='font-size: 30px;')
								+e('a').link(href='#') вырезка
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') окорок
							+e('li').tag(style='font-size: 36px;')
								+e('a').link(href='#') санкции
							+e('li').tag(style='font-size: 24px;')
								+e('a').link(href='#') сертификация


				+b.side-block._comments
					+e.header
						+e('h3').title Комментарии
					+e.body
						+e('ul').list
							+e('li').item
								+e('a').link(href='#') Последний комментарий под номером один...
							+e('li').item
								+e('a').link(href='#') Последний комментарий под номером два...
							+e('li').item
								+e('a').link(href='#') Последний комментарий под номером три...
							+e('li').item
								+e('a').link(href='#') Последний комментарий под номером четыре...

