mixin section-recommend()
	+b('section').section._recommend._style-2
		+e.in
			+b('h2').title._style-1._recommend МЫ РЕКОМЕНДУЕМ!
			+b.recommend
				+e.item
					+e('a').link(href='#')
						+e('div').image
							+e('img')(src='assets/images/category/cat_img_4.jpg' alt='product')
						+e('div').info
							+e('div').info-top
								+e('div').title Говяжий край филе <br/>(задн. ч.)
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant._recommend
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item
					+e('a').link(href='#')
						+e('div').image
							+e('img')(src='assets/images/category/cat_img_4.jpg' alt='product')
						+e('div').info
							+e('div').info-top
								+e('div').title Говяжий край филе <br/>(задн. ч.)
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant._recommend
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item
					+e('a').link(href='#')
						+e('div').image
							+e('img')(src='assets/images/category/cat_img_4.jpg' alt='product')
						+e('div').info
							+e('div').info-top
								+e('div').title Говяжий край филе <br/>(задн. ч.)
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant._recommend
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
				+e.item
					+e('a').link(href='#')
						+e('div').image
							+e('img')(src='assets/images/category/cat_img_4.jpg' alt='product')
						+e('div').info
							+e('div').info-top
								+e('div').title Говяжий край филе <br/>(задн. ч.)
								+e('div').price
									+e('div').price-val 780
									+e('div').price-text рублей
									+e('div').price-text за 100 г
							+e('div').info-bottom
								+b('div').quant._recommend
									+e('span').button._minus -
									+e('input').input(value='1' name='')
									+e('span').button._plus +
								+b('button').button._buy
									+e('span') Купить
			+e.recommend-icon-left
			+e.recommend-icon-right


