//- include ../breadcrumbs/breadcrumbs

mixin section-product()
	+b('section').product
		+e.in
			//- +breadcrumbs()

			+b('h1').title._style-3._product Говяжий край филе (задн. ч.)
			+e.details
				+e.image
					+e('a')(href="assets/images/product/product_img_1_2x.jpg")
						+e('img')(src='assets/images/product/product_img_1.jpg' alt='image')
				+e.details-top
					+e.details-row
						+e.details-col._first
							+e.price
								+e.price-val 780
								+e.price-curr рублей
								+e.price-note цена указана за 100 г
						+e.details-col._second
							+b('div').quant._product
								+e('span').button._minus._big -
								+e('input').input._big(value='1' name='')
								+e('span').button._plus._big +
							+b('a').button._prod-buy(href='#') Купить

							+b('a').favorite._product(href='#') Добавить в избранное
					+e.details-row
						+e.details-packing Фасовка: 0,7 кг
						+e.details-available В наличии: 13 шт
				+e.details-body
					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.

			+b.reviews
				+b('h2').title._style-1._reviews ОТЗЫВЫ О ТОВАРЕ
				+e.list
					+b('article').review
						+e.text
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
						+e.author Всеволод Аркадьевич

					+b('article').review
						+e.text
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
						+e.author Всеволод Аркадьевич

				+b.add-comment
					+e('form')(action='' method='post' name='')
						+e.message
							+e.textarea
								+e('textarea')(placeholder='Напишите нам' name='')
						+e.name
							+e.input
								+e('input')(type='text' placeholder='Имя, отображаемое в отзыве' value='' name='')
							+e.submit
								+e('input')(type='submit' value='Отправить отзыв' name='')





