//- include ../breadcrumbs-testimonials/breadcrumbs-testimonials

mixin section-testimonials()
	+b('main').main._testimonials
		+e.in
			+b('h1').title._style-1._testimonials ОТЗЫВЫ

			+e.testimonials

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject Говяжий край филе (задн. ч.)

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject Масло сливочное

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject О магазине

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject Говяжий край филе (задн. ч.)

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject Масло сливочное

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject О магазине

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject Масло сливочное

				+b('article').review._testimonials
					+e.text
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					+e.left
						+e.author._testimonials Всеволод Аркадьевич
						+e.date 02.05.2015
						+e.subject О магазине


				+b.add-comment._testimonials
					+e('form')(action='' method='post' name='')
						+e.message
							+e.textarea
								+e('textarea')(placeholder='Напишите нам' name='')
						+e.name
							+e.input
								+e('input')(type='text' placeholder='Имя, отображаемое в отзыве' value='' name='')
							+e.submit
								+e('input')(type='submit' value='Отправить отзыв' name='')
